/* ///////////////////////////////////body code/////////////////////////////////// */
html, body  {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.food_background {
  padding: 0;
  margin: 0;
  background-color: #212121;
}

.drink_background {
  padding: 0;
  margin: 0;
  background-color: #212121;
}

.travel_background {
  padding: 0;
  margin: 0;
  background-color: #212121;
}
/* ////////////////////////////////end of body code//////////////////////////////// */
























/* /////////////////////////////////////Navbar///////////////////////////////////// */
.nav_bar {
  position: fixed;
  top: 0;
  border: black 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 1440px;
  overflow: hidden;
  z-index: 10;
  background-color: #3a3b3c;
  color: white;
}

.food_nav_bar {
  position: fixed;
  background-color: #3a3b3c;
  color: white;
  width: 1440px;
  border: 2px solid black;
  z-index: 1;
}

.drink_nav_bar {
  position: fixed;
  background-color: #3a3b3c;
  color: white;
  width: 1440px;
  border: 2px solid black;
  z-index: 1;
}

.travel_nav_bar {
  position: fixed;
  background-color: #3a3b3c;
  color: white;
  width: 1440px;
  border: 2px solid black;
  z-index: 1;
}

.light_nav_bar {
  position: fixed;
  background-color: white;
  color: black;
  width: 1440px;
  border: 2px solid black;
  border-left: none;
  border-right: none;
  margin-bottom: 2px;
  z-index: 1;
}

.margin_in_nav {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.bcn_img {
  height: 50px;
  width: auto;
}

.sidebar {
  display: flex;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  flex-direction: column;
  z-index: 1;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: gray;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 3.5vh;
  cursor: pointer;
  background-color: #3a3b3c;
  color: white;
  margin-right: 2vh;
  border: none;
}

.login_and_register {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 50px;
  gap: 20px;
  text-decoration: none;
}

.register {
  text-decoration: none;
}

.login {
  text-decoration: none;
}

.register:active {
  color: black;
}

.login:active {
  color: black;
}

.register:link {
  color: black;
}

.login:link {
  color: black;
}

.register:visited {
  color: black;
}

.login:visited {
  color: black;
}

.register:hover {
  color: #01a7e4;
}

.login:hover {
  color: #01a7e4;
}

.search_bar {
  width: 500px;
  margin-left: 20px;
  border-right: none;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  outline: none;
  height: fit-content;
  font-size: 18px;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 7.125px;
  padding-bottom: 7.125px;
}

.food_search_bar {
  width: 500px;
  margin-left: 220px;
  border-right: none;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  outline: none;
  height: fit-content;
  font-size: 18px;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 7.125px;
  padding-bottom: 7.125px;
}

.drink_search_bar {
  width: 500px;
  margin-left: 220px;
  border-right: none;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  outline: none;
  height: fit-content;
  font-size: 18px;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 7.125px;
  padding-bottom: 7.125px;
}

.travel_search_bar {
  width: 500px;
  margin-left: 220px;
  border-right: none;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  outline: none;
  height: fit-content;
  font-size: 18px;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 7.125px;
  padding-bottom: 7.125px;
}

.button-search {
  background-color: darkturquoise;
  border-radius: 0.4em;
  border-left: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0.4em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0.4em;
  width: 6vh;
  padding-bottom: 0.2vw;
  float: right;
  width: 6vh;
  padding-top: 0.2vw;
}

.search_img {
  width: 2.5vh;
  height: 3vh;
  cursor: pointer;
}
/* /////////////////////////////////end of Navbar///////////////////////////////// */



























/* //////////////////////////////////For You Nav////////////////////////////////// */
.ForYouNav {
  position: fixed;
  top: 4.7vw;
  border: black 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 1440px;
  /* overflow: hidden; */
  background-color: #3a3b3c;
  font-stretch: expanded;
  padding: 5px;
}

.ForYouNav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 1.94vw;
  align-content: center;
  padding-left: 48px;
}

.ForYouNav a:hover {
  text-decoration: underline;
}

.sports_ForYouNav {
  position: fixed;
  top: 4.75vw;
  border: black 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 1440px;
  overflow: hidden;
  background-color: #3a3b3c;
  font-stretch: expanded;
  padding: 5px;
  margin-top: 0px;
}

.sports_ForYouNav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 1vw;
  align-content: center;
  padding-left: 39px;
  padding-right: 39px;
}

.sports_ForYouNav a:hover {
  text-decoration: underline;
}

.food_ForYouNav {
  position: fixed;
  top: 4.75vw;
  border: black 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 1440px;
  overflow: hidden;
  background-color: #3a3b3c;
  font-stretch: expanded;
  padding: 5px;
  margin-top: 2px;
}

.food_ForYouNav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 1.75vw;
  align-content: center;
  padding-left: 65px;
}

.food_ForYouNav a:hover {
  text-decoration: underline;
}

.drink_ForYouNav {
  position: fixed;
  top: 4.75vw;
  border: black 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 1440px;
  overflow: hidden;
  background-color: #3a3b3c;
  font-stretch: expanded;
  padding: 5px;
  margin-top: 2px;
}

.drink_ForYouNav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 1.75vw;
  align-content: center;
  padding-left: 65px;
}

.drink_ForYouNav a:hover {
  text-decoration: underline;
}

.travel_ForYouNav {
  position: fixed;
  top: 4.75vw;
  border: black 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 1440px;
  overflow: hidden;
  background-color: #3a3b3c;
  font-stretch: expanded;
  padding: 5px;
  margin-top: 2px;
}

.travel_ForYouNav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 1.75vw;
  align-content: center;
  padding-left: 65px;
}

.travel_ForYouNav a:hover {
  text-decoration: underline;
}

.light_ForYouNav {
  position: sticky;
  top: 4.7vw;
  border: black 1px solid;
  border-left: none;
  border-right: none;
  width: 1440px;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  font-stretch: expanded;
  padding: 5px;
}

.light_ForYouNav a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 1.94vw;
  align-content: center;
}

.light_ForYouNav a:hover {
  text-decoration: underline;
}

.food_link:hover {
  color: #01a7e4;
  text-decoration: underline;
}

.drink_link:hover {
  color: mediumaquamarine;
  text-decoration: underline;
}

.travel_link:hover {
  color: rgb(219, 219, 4);
  text-decoration: underline;
}
/* ///////////////////////////////end of For You Nav/////////////////////////////// */

























/* //////////////////////////////////News Section////////////////////////////////// */
.news {
  overflow: hidden;
  padding: 0px;
  font-size: 20px;
  display: flex;
  height: 100%;
  width: auto;
}

.newsForecast {
  overflow: hidden;
  padding: 0px;
  font-size: 20px;
  height: 100%;
  width: auto;
}

.news_category {
  text-align: center;
}

.column {
  inline-size: 500px;
  overflow: hidden;
  padding: 0px;
  font-size: 20px;
  height: 100%;
  width: auto;
  flex: 33.3%;
}

.columnForecast {
  inline-size: 500px;
  overflow: hidden;
  padding: 0px;
  font-size: 20px;
  display: inline;
  height: 100%;
  width: 100%;
}

.card {
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  height: 40vw;
  padding: 20px;
  padding-top: 10px;
  text-align: center;
  display: inline-block;
  overflow: scroll;

  /* /////Hide scrollbar for IE, Edge and Firefox///// */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* /////////////////end of hiding////////////////// */

}

/* /////Hide scrollbar for Chrome, Safari and Opera///// */
.card::-webkit-scrollbar {
  display: none;
}
/* ///////////////////end of hiding//////////////////// */

.card:hover {
  text-decoration: underline;
}

.aLink {
  color: black;
  text-decoration: none;
}

.apiImage {
  height: 18vh;
  width: 30vh;
}

.show {
  display: block;
}

.dropbtn {
  color: white;
  font-size: 16px;
  padding: 3px;
  border: 1px solid black;
  border-right: none;
  border-left: none;
  border-top: none;
  cursor: pointer;
  background-color: red;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
  margin-left: 900px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #242526;
  width: 17vw;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  overflow: scroll;
  font-size: 20px;
  max-height: 500px;
  margin-right: 500px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.casesBox {
  border-bottom: 1px solid white;
  text-align: center;
}

.statesHead {
  text-align: center;
}

.nbaLogo {
  height: 150px;
  width: 150px;
}

#weather {
  display: flex;
  justify-content: center;
}

#one {
  max-width: 100%;
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 50px;
  padding: 3.5vw;
  padding-top: 17vh;
  align-items: center;
}

.weather_title {
  margin-top: 103px;
  color: white;
  position: fixed;
  border: 1px solid #81d2ef;
  padding: 3px;
  width: 1440px;
  background-color: #81d2ef;
  text-shadow: 1px 1px black;
  padding-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
}
/* //////////////////////////////end of News Section////////////////////////////// */
























/* /////////////////////////////////////Footer///////////////////////////////////// */
.footer {
  background-color: #3a3b3c;
  color: white;
  height: fit-content;
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 100%;
  margin-top: 10vh;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.bcn_title_footer {
  font-size: 20px;
}

.footer_list {
  border-left: 1px solid #01a7e4;
  border-right: 1px solid #01a7e4;
  list-style: none;
}

ul{
  padding: 0;
}

.footer_list li {
  text-decoration: none;
  list-style: none;
}

.footer_list li a {
  color: white;
  text-decoration: none;
}

.footer_list li a:hover {
  transition: all ease 1s;
  font-size: 4vh;
  color: #01a7e4;
  text-decoration: none;
}

.footer_list li a:active {
  color: white;
  text-decoration: none;
}

.contact_button {
  text-decoration: none;
  color: white;
  padding: 0.5vw;
  border-radius: 1vw;
  transition: 1s all ease;
  cursor: pointer;
}

.contact_button:hover {
  transition: 1s all ease;
  background-color: white;
  color: #01a7e4;
  border: 1px solid #01a7e4;
}

.contact_button_border {
  text-decoration: none;
}

.social_list {
  list-style: none;
}

.twitter_img {
  height: 3vw;
  width: 3vw;
  border: 1px solid white;
  border-radius: 1em;
  background-color: white;
  transition: all ease 1s;
}

.twitter_img:hover {
  height: 3.5vw;
  width: 3.5vw;
  transition: all ease 1s;
  cursor: pointer;
}

.linkedin_img {
  height: 3vw;
  width: 3vw;
  border: 1px solid white;
  border-radius: 1em;
  background-color: white;
  transition: all ease 1s;
}

.linkedin_img:hover {
  height: 3.5vw;
  width: 3.5vw;
  transition: all ease 1s;
  cursor: pointer;
}

.instagram_img {
  height: 3vw;
  width: 3vw;
  border: 1px solid white;
  border-radius: 1em;
  background-color: white;
  transition: all ease 1s;
}

.instagram_img:hover {
  height: 3.5vw;
  width: 3.5vw;
  border: 1px solid white;
  border-radius: 1em;
  padding: 5px;
  background-color: white;
  transition: all ease 1s;
}

.facebook_img {
  height: 3vw;
  width: 3vw;
  border: 1px solid white;
  border-radius: 1em;
  background-color: white;
  transition: all ease 1s;
}

.facebook_img:hover {
  height: 3.5vw;
  width: 3.5vw;
  border: 1px solid white;
  border-radius: 1em;
  padding: 5px;
  background-color: white;
  transition: all ease 1s;
}
/* /////////////////////////////////end of Footer///////////////////////////////// */























/* //////////////////////////////////////fyp////////////////////////////////////// */
.fyp_background {
  padding: 0;
  margin: 0;
  background-color: #212121;
}

.fyp_nav_bar {
  position: fixed;
  background-color: #3a3b3c;
  color: white;
  width: 100%;
  border: 2px solid black;
  z-index: 1;
}

.fyp_margin_in_nav{
  margin-left: 2vh;
  display: flex;
  flex-direction: row;
  gap: 1vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;
}

.fyp_margin_in_nav .bcn_logo_and_text {
  display: flex;
}

.fyp_search_bar {
  width: 40vw;
  border-right: none;
  border-top-left-radius: 1vh;
  border-bottom-left-radius: 1vh;
  outline: none;
  height: 100%;
  font-size: 2.15vh;
  padding-top: 0.88vh;
  padding-bottom: 0.88vh;
  padding-left: 2vh;
}

.fyp_ForYouNav {
  position: fixed;
  top: 11.59vh;
  border: black 2px solid;
  border-top: none;
  width: 100%;
  overflow: hidden;
  background-color: #3a3b3c;
  font-stretch: expanded;
  padding: 5px;
  margin-top: 0px;
  align-content: center;
  text-align: center;
}

.fyp_ForYouNav a {
  font-size: 3vh;
  text-decoration: none;
  color: white;
  padding: 2vh;
}

.fyp_ForYouNav a:hover {
  text-decoration: underline;
}

.fyp_login {
  color: white;
  text-decoration: none;
}

.fyp_register {
  color: white;
  text-decoration: none;
}

.fyp_register:active {
  color: white;
}

.fyp_login:active {
  color: white;
}

.fyp_register:link {
  color: white;
}

.fyp_login:link {
  color: white;
}

.fyp_register:visited {
  color: white;
}

.fyp_login:visited {
  color: white;
}

.fyp_register:hover {
  color: #01a7e4;
}

.fyp_login:hover {
  color: #01a7e4;
}

.fyp_title {
  margin-top: 103px;
  color: white;
  position: fixed;
  border: 1px solid #81d2ef;
  padding: 3px;
  width: 1440px;
  background-color: #81d2ef;
  text-shadow: 1px 1px black;
  padding-left: 50px;
}

.fyp_sidebar {
  display: flex;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.5vh;
  flex-direction: column;
  z-index: 1;
}

.fyp_sidebar a {
  padding: 2vh 2vh 2vh 4vh;
  text-decoration: none;
  font-size: 2.5vh;
  color: black;
  display: block;
  transition: 0.3s;
}

.fyp_sidebar p {
  padding: 2vh 2vh 2vh 4vh;
  text-decoration: none;
  font-size: 3.5vh;
  color: black;
  display: block;
  transition: 0.3s;
}

.fyp_sidebar a:hover {
  color: gray;
}

.fyp_sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 2.8vh;
  font-size: 5vh;
}

.fyp-searching-containers{
  display: flex;
}

.open_sidebar_JS-CSS {
  width: 50vh;
  border: 1px solid black;
  z-index: 10;
}

.close_sidebar_JS-CSS {
  width: 0;
}

.open_main_JS-CSS {
  margin-right: 50vw;
}

.close_main_JS-CSS {
  margin-right: 0;
}
/* /////////////////////////////////end of fyp//////////////////////////////// */

























/* ////////////////////////////////////covid-19//////////////////////////////////// */
.covid_background {
  background-color: #212121;
  padding: 0;
  margin: 0;
}

.covid_nav_bar {
  background-color: #3a3b3c;
  color: white;
  width: 1440px;
  border: 2px solid black;
  position: fixed;
  z-index: 1;
}

.covid_search_bar {
  width: 500px;
  margin-left: 140px;
  border-right: none;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  outline: none;
  height: fit-content;
  font-size: 18px;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 7.125px;
  padding-bottom: 7.125px;
}

.covid_ForYouNav {
  position: fixed;
  top: 4.75vw;
  border: black 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 1440px;
  overflow: hidden;
  background-color: #3a3b3c;
  padding: 5px;
  border: 1px solid black;
  justify-content: center;
}

.covid_ForYouNav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 1.94vw;
  align-content: center;
  padding-left: 50px;
}

.covid_ForYouNav a:hover {
  text-decoration: underline;
}

.covid_link:hover {
  color: #ec3a04;
  text-decoration: underline;
}

.covid_login {
  color: white;
  text-decoration: none;
}

.covid_register {
  color: white;
  text-decoration: none;
}

.covid_register:active {
  color: white;
}

.covid_login:active {
  color: white;
}

.covid_register:link {
  color: white;
}

.covid_login:link {
  color: white;
}

.covid_register:visited {
  color: white;
}

.covid_login:visited {
  color: white;
}

.covid_register:hover {
  color: #01a7e4;
}

.covid_login:hover {
  color: #01a7e4;
}

.covid_title {
  margin-top: 103px;
  text-align: left;
  color: white;
  border: 1px solid red;
  background: red;
  padding: 5px;
  position: fixed;
  width: 1440px;
  padding-left: 100px;
  text-shadow: 1px 1px black;
}
/* ////////////////////////////////end of covid-19//////////////////////////////// */
























/* ///////////////////////////////////trending///////////////////////////////////// */
.trend_background {
  padding: 0;
  margin: 0;
  background-color: #212121;
}

.trend_nav_bar {
  position: fixed;
  background-color: #3a3b3c;
  color: white;
  width: 1440px;
  border: 2px solid black;
  z-index: 1;
}

.trend_search_bar {
  width: 500px;
  margin-left: 100px;
  border-right: none;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  outline: none;
  height: fit-content;
  font-size: 18px;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 7.125px;
  padding-bottom: 7.125px;
}

.trend_ForYouNav {
  position: fixed;
  top: 4.75vw;
  border: black 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 1440px;
  overflow: hidden;
  background-color: #3a3b3c;
  font-stretch: expanded;
  padding: 5px;
  margin-top: 0px;
}

.trend_ForYouNav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 1.94vw;
  align-content: center;
  padding-left: 50px;
}

.trend_ForYouNav a:hover {
  text-decoration: underline;
}

.trend_login {
  color: white;
  text-decoration: none;
}

.trend_register {
  color: white;
  text-decoration: none;
}

.trend_register:active {
  color: white;
}

.trend_login:active {
  color: white;
}

.trend_register:link {
  color: white;
}

.trend_login:link {
  color: white;
}

.trend_register:visited {
  color: white;
}

.trend_login:visited {
  color: white;
}

.trend_register:hover {
  color: #01a7e4;
}

.trend_login:hover {
  color: #01a7e4;
}

.trend_title {
  margin-top: 103px;
  color: white;
  position: fixed;
  border: 1px solid #81d2ef;
  padding: 3px;
  width: 1440px;
  background-color: #81d2ef;
  text-shadow: 1px 1px black;
  padding-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.light_trend_title {
  font-family: Helvetica;
  margin-top: 65px;
  color: white;
  position: fixed;
  border: 1px solid #81d2ef;
  padding: 3px;
  width: 1440px;
  background-color: #81d2ef;
  text-shadow: 1px 1px black;
  padding-left: 50px;
  font-size: 20px;
  font-style: bold;
  font-stretch: ultra-expanded;
}

.light_trend_login {
  color: black;
  text-decoration: none;
}

.light_trend_login:hover {
  color: #01a7e4;
}

.light_trend_register {
  color: black;
  text-decoration: none;
}

.light_trend_register:hover {
  color: #01a7e4;
}
/* ////////////////////////////////end of trending///////////////////////////////// */

























/* /////////////////////////////////entertainment///////////////////////////////// */
.entertainment_background {
  padding: 0;
  margin: 0;
  background-color: #212121;
}

.entertainment_nav_bar {
  position: fixed;
  background-color: #3a3b3c;
  color: white;
  width: 1440px;
  border: 2px solid black;
  z-index: 1;
}

.light_entertainment_nav_bar {
  position: fixed;
  background-color: white;
  color: black;
  width: 1440px;
  border: 2px solid black;
  border-left: none;
  border-right: none;
  margin-bottom: 2px;
  z-index: 1;
}

.entertainment_search_bar {
  width: 500px;
  margin-left: 100px;
  border-right: none;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  outline: none;
  height: fit-content;
  font-size: 18px;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 7.125px;
  padding-bottom: 7.125px;
}

.entertainment_ForYouNav {
  position: fixed;
  top: 4.7vw;
  border: black 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 1440px;
  overflow: hidden;
  background-color: #3a3b3c;
  font-stretch: expanded;
  padding: 5px;
  margin-top: 2px;
}

.entertainment_ForYouNav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 1.94vw;
  align-content: center;
  padding-left: 50px;
}

.entertainment_ForYouNav a:hover {
  text-decoration: underline;
}

.light_entertainment_ForYouNav {
  position: sticky;
  top: 4.7vw;
  border: black 1px solid;
  border-left: none;
  border-right: none;
  width: 1440px;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  font-stretch: expanded;
  padding: 5px;
}

.light_entertainment_ForYouNav a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 1.94vw;
  align-content: center;
}

.light_entertainment_ForYouNav a:hover {
  text-decoration: underline;
}

.entertainment_link:hover {
  color: rgb(225, 163, 194);
  text-decoration: underline;
}

.entertainment_login {
  color: white;
  text-decoration: none;
}

.entertainment_register {
  color: white;
  text-decoration: none;
}

.entertainment_register:active {
  color: white;
}

.entertainment_login:active {
  color: white;
}

.entertainment_register:link {
  color: white;
}

.entertainment_login:link {
  color: white;
}

.entertainment_register:visited {
  color: white;
}

.entertainment_login:visited {
  color: white;
}

.entertainment_register:hover {
  color: #01a7e4;
}

.entertainment_login:hover {
  color: #01a7e4;
}

.entertainment_title {
  margin-top: 103px;
  color: white;
  position: fixed;
  border: 1px solid rgb(225, 163, 194);
  padding: 3px;
  width: 1440px;
  background-color: rgb(225, 163, 194);
  text-shadow: 1px 1px black;
  padding-left: 50px;
}

.light_entertainment_title {
  font-family: Helvetica;
  margin-top: 65px;
  color: white;
  position: fixed;
  border: 1px solid #81d2ef;
  padding: 3px;
  width: 1440px;
  background-color: #81d2ef;
  text-shadow: 1px 1px black;
  padding-left: 50px;
  font-size: 20px;
  font-style: bold;
  font-stretch: ultra-expanded;
}

.light_entertainment_login {
  color: black;
  text-decoration: none;
}

.light_entertainment_login:hover {
  color: #01a7e4;
}

.light_entertainment_register {
  color: black;
  text-decoration: none;
}

.light_entertainment_register:hover {
  color: #01a7e4;
}
/* //////////////////////////////end of entertainment////////////////////////////// */

























/* ///////////////////////////////////lifestyle/////////////////////////////////// */
.lifestyle_background {
  padding: 0;
  margin: 0;
  background-color: #212121;
}

.lifestyle_nav_bar {
  position: fixed;
  background-color: #3a3b3c;
  color: white;
  width: 1440px;
  border: 2px solid black;
  z-index: 1;
}

.lifestyle_search_bar {
  width: 500px;
  margin-left: 100px;
  border-right: none;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  outline: none;
  height: fit-content;
  font-size: 18px;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 7.125px;
  padding-bottom: 7.125px;
}

.lifestyle_ForYouNav {
  position: fixed;
  top: 4.75vw;
  border: black 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 1440px;
  overflow: hidden;
  background-color: #3a3b3c;
  font-stretch: expanded;
  padding: 5px;
  margin-top: 0px;
}

.lifestyle_ForYouNav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 1.94vw;
  align-content: center;
  padding-left: 50px;
}

.lifestyle_ForYouNav a:hover {
  text-decoration: underline;
}

.lifestyle_link:hover {
  color: rgb(161, 84, 161);
  text-decoration: underline;
}

.lifestyle_login {
  color: white;
  text-decoration: none;
}

.lifestyle_register {
  color: white;
  text-decoration: none;
}

.lifestyle_register:active {
  color: white;
}

.lifestyle_login:active {
  color: white;
}

.lifestyle_register:link {
  color: white;
}

.lifestyle_login:link {
  color: white;
}

.lifestyle_register:visited {
  color: white;
}

.lifestyle_login:visited {
  color: white;
}

.lifestyle_register:hover {
  color: #01a7e4;
}

.lifestyle_login:hover {
  color: #01a7e4;
}

.lifestyle_title {
  margin-top: 103px;
  color: white;
  position: fixed;
  border: 1px solid rgb(161, 84, 161);
  padding: 3px;
  width: 1440px;
  background-color: rgb(161, 84, 161);
  text-shadow: 1px 1px black;
  padding-left: 50px;
}
/* ////////////////////////////////end of lifestyle//////////////////////////////// */


























/* ////////////////////////////////////shopping//////////////////////////////////// */
.shopping_background {
  padding: 0;
  margin: 0;
  background-color: #212121;
}

.shopping_nav_bar {
  position: fixed;
  background-color: #3a3b3c;
  color: white;
  width: 100%;
  border: 2px solid black;
  z-index: 1;
}

.shopping_search_bar {
  width: 500px;
  margin-left: 100px;
  border-right: none;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  outline: none;
  height: fit-content;
  font-size: 18px;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 7.125px;
  padding-bottom: 7.125px;
}

.shopping_ForYouNav {
  position: fixed;
  top: 4.75vw;
  border: black 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 1440px;
  overflow: hidden;
  background-color: #3a3b3c;
  font-stretch: expanded;
  padding: 5px;
  margin-top: 0px;
}

.shopping_ForYouNav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 1.94vw;
  align-content: center;
  padding-left: 50px;
}

.shopping_ForYouNav a:hover {
  text-decoration: underline;
}

.shopping_login {
  color: white;
  text-decoration: none;
}

.shopping_register {
  color: white;
  text-decoration: none;
}

.shopping_register:active {
  color: white;
}

.shopping_login:active {
  color: white;
}

.shopping_register:link {
  color: white;
}

.shopping_login:link {
  color: white;
}

.shopping_register:visited {
  color: white;
}

.shopping_login:visited {
  color: white;
}

.shopping_register:hover {
  color: #01a7e4;
}

.shopping_login:hover {
  color: #01a7e4;
}

.shopping_title {
  margin-top: 103px;
  color: white;
  position: fixed;
  border: 1px solid #81d2ef;
  padding: 3px;
  width: 1440px;
  background-color: #81d2ef;
  text-shadow: 1px 1px black;
  padding-left: 50px;
}
/* /////////////////////////////////end of shopping//////////////////////////////// */
























/* /////////////////////////////////////health///////////////////////////////////// */
.health_background {
  padding: 0;
  margin: 0;
  background-color: #212121;
}

.health_nav_bar {
  position: fixed;
  background-color: #3a3b3c;
  color: white;
  width: 1440px;
  border: 2px solid black;
  z-index: 1;
}

.health_search_bar {
  width: 500px;
  margin-left: 100px;
  border-right: none;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  outline: none;
  height: fit-content;
  font-size: 18px;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 7.125px;
  padding-bottom: 7.125px;
}

.health_ForYouNav {
  position: fixed;
  top: 4.75vw;
  border: black 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 1440px;
  overflow: hidden;
  background-color: #3a3b3c;
  font-stretch: expanded;
  padding: 5px;
  margin-top: 0px;
}

.health_ForYouNav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 1.94vw;
  align-content: center;
  padding-left: 50px;
}

.health_ForYouNav a:hover {
  text-decoration: underline;
}

.health_link:hover {
  color: orange;
  text-decoration: underline;
}

.health_login {
  color: white;
  text-decoration: none;
}

.health_register {
  color: white;
  text-decoration: none;
}

.health_register:active {
  color: white;
}

.health_login:active {
  color: white;
}

.health_register:link {
  color: white;
}

.health_login:link {
  color: white;
}

.health_register:visited {
  color: white;
}

.health_login:visited {
  color: white;
}

.health_register:hover {
  color: #01a7e4;
}

.health_login:hover {
  color: #01a7e4;
}

.health_title {
  margin-top: 103px;
  color: white;
  position: fixed;
  border: 1px solid orange;
  padding: 3px;
  width: 1440px;
  background-color: orange;
  text-shadow: 1px 1px black;
  padding-left: 50px;
}
/* //////////////////////////////////end of health///////////////////////////////// */
























/* /////////////////////////////////////stocks///////////////////////////////////// */
.stocks_background {
  padding: 0;
  margin: 0;
  background-color: #212121;
}

.stocks_nav_bar {
  position: fixed;
  background-color: #3a3b3c;
  color: white;
  width: 1440px;
  border: 2px solid black;
  z-index: 1;
}

.stocks_search_bar {
  width: 500px;
  margin-left: 100px;
  border-right: none;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  outline: none;
  height: fit-content;
  font-size: 18px;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 7.125px;
  padding-bottom: 7.125px;
}

.stocks_ForYouNav {
  position: fixed;
  top: 4.75vw;
  border: black 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 1440px;
  overflow: hidden;
  background-color: #3a3b3c;
  font-stretch: expanded;
  padding: 5px;
  margin-top: 0px;
}

.stocks_ForYouNav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 1.75vw;
  align-content: center;
  padding-left: 50px;
}

.stocks_ForYouNav a:hover {
  text-decoration: underline;
}

.stocks_link:hover {
  color: rgb(34, 224, 34);
  text-decoration: underline;
}

.stocks_login {
  color: white;
  text-decoration: none;
}

.stocks_register {
  color: white;
  text-decoration: none;
}

.stocks_register:active {
  color: white;
}

.stocks_login:active {
  color: white;
}

.stocks_register:link {
  color: white;
}

.stocks_login:link {
  color: white;
}

.stocks_register:visited {
  color: white;
}

.stocks_login:visited {
  color: white;
}

.stocks_register:hover {
  color: #01a7e4;
}

.stocks_login:hover {
  color: #01a7e4;
}

.stocks_title {
  margin-top: 103px;
  color: white;
  position: fixed;
  border: 1px solid rgb(34, 224, 34);
  padding: 3px;
  width: 1440px;
  background-color: rgb(34, 224, 34);
  text-shadow: 1px 1px black;
  padding-left: 50px;
}

.forecastDays {
  font-size: 2vw;
  height: 75px;
  width: 175px;
  text-align: center;
}

.forecastCard {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5%;
  border: black 1px solid;
  color: white;
  text-shadow: 1px 1px black;
  /* border-radius: 20px; */
}

#stocks {
  display: flex;
  justify-content: center;
}
/* //////////////////////////////////end of stocks///////////////////////////////// */

























/* ////////////////////////////////////setting//////////////////////////////////// */
.sidebarHelp {
  display: flex;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  flex-direction: column;
  z-index: 1;
  text-align: center;
  padding: 0;
}

.sidebarHelp p {
  padding-left: 2vh;
  padding-right: 2vh;
  text-decoration: none;
  font-size: 3vh;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebarHelp .last_help_tip {
  padding-bottom: 5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  text-decoration: none;
  font-size: 3vh;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebarHelp a {
  /* padding: 8px 8px 8px 8px; */
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebarHelp h2 {
  /* padding: 8px 8px 8px 8px; */
  text-decoration: none;
  font-size: 3vh;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebarHelp .closeHelp {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3.6vh;
  margin-right: 2vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.settings_background {
  background-color: #212121;
  color: white;
}

.settings_flex {
  display: flex;
  flex-direction: row;
  border: 1px solid #3a3b3c;
  background-color: #3a3b3c;
  justify-content: space-between;
}

.settings_flex h1{
  font-size: 3vw;
}

.home_settings {
  font-size: 5.5vw;
  text-decoration: none;
  padding-left: 3vw;
  color: white;
}

.home_settings:hover {
  color: #01a7e4;
}

.help_button {
  margin-right: 3vw;
}

.helpSettings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;
}

.openHelp {
  font-size: 2.5vw;
  cursor: pointer;
  color: white;
  float: right;
}

.openHelp:hover {
  color: #01a7e4;
}

.information_box {
  border: 1px solid black;
  text-align: center;
  font-size: 2.5vh;
  width: 30vw;
  background-color: rgb(48, 48, 48);
}

.change_username {
  border: 1px solid black;
  text-align: center;
  font-size: 2vh;
  width: 50vw;
  padding-bottom: 3vh;
  background-color: rgb(48, 48, 48);
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit_button {
  margin-top: 12px;
}

.change_email {
  text-align: center;
}

.password_box {
  text-align: center;
}

.interest_change {
  text-align: center;
}

.sidebarHelper_padding_issue {
  padding: 2vw;
  padding-top: 6vh;
}

.settings_forms_2-0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5vw;
}
/* /////////////////////////////////end of setting///////////////////////////////// */

























/* ////////////////////////////////////sign-in///////////////////////////////////// */
.signInBody {
  margin: 0;
  background-color: white;
}

.user_card_login {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  padding-bottom: 5vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4vh; */
}

.title-login {
  text-align: center;
  align-items: center;
}

.bcn_img2 {
  height: 60px;
  width: auto;
  padding: 0;
}

.form_container {
  margin-top: 0;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.input-group {
  border: 0;
  border-radius: 0.25rem 0 0 0.25rem;
}

.signInText {
  color: black;
}

.login_to_register_btn {
  color: #01a7e4;
  text-decoration: none;
}

.login_to_register_btn:hover {
  color: black;
  text-decoration: underline;
}

.login_btn {
  background: white;
  color: black;
  border: 1px solid #81d2ef;
  border-radius: 1em;
  width: fit-content;
  padding: 1vh;
}

.login_btn:focus {
  box-shadow: none;
  outline: 0px;
}

.login_btn:hover {
  background-color: #81d2ef;
  cursor: pointer;
  color: white;
}
/* /////////////////////////////////end of sign-in///////////////////////////////// */
























/* ////////////////////////////////////sign-up//////////////////////////////////// */
.user_card_register {
  min-width: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup_btn {
  margin-top: 3vh;
}

.signUpBody {
  margin: 0;
  background-color: white;
}

.title-register {
  text-align: center;
  align-items: center;
  color: black;
}

.bcn_img3 {
  height: 60px;
  width: auto;
  padding: 0;
}

.form_container-register {
  margin-top: 2vh;
  text-align: center;
}

.input-group1 {
  border: 0;
  border-radius: 0.25rem 0 0 0.25rem;
}

.register_btn {
  color: #01a7e4;
  text-decoration: none;
}

.register_btn:hover {
  color: black;
  text-decoration: underline;
}

.login_new_btn {
  background: white;
  color: black;
  border: 1px solid #81d2ef;
  border-radius: 1em;
  padding: 1vh;
}

.login_new_btn:focus {
  box-shadow: none;
  outline: 0px;
}

.login_new_btn:hover {
  background-color: #81d2ef;
  cursor: pointer;
  color: white;
}

.input-group-interest{
  margin-left: 1.5vh;
  margin-right: 1.5vh;
}

.form_container-interest {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}
/* /////////////////////////////////end of sign-up//////////////////////////////// */

/* colors:
baby blue:                       #88D1F1
white:                           #FFFFFF
Floral White:                    #FFFAF1
Blizzard Blue:                   #ABDFF6 

---------------------------------------

No name, but looks tan:          #E8D0A9 
Medium light shade of brown:     #B7AFA3 
Light shade of cyan:             #C1DAD6 
Very light shade of cyan:        #F5FAFA 
Light shade of cyan-blue:        #ACD1E9 
Dark Cyan?:                      #6D929B

----------------------------------------

Bright blue: #51e2f5
Blue Green: #9df9ef
Dusty White: #edf7f6
Pink Sand: #ffa8B6
Dark Sand: #a28089
*/


.home_background {
  background-color: #212121;
  /* overflow: hidden; */
}

.shape {
  position: absolute;
  background: #212121;
  width: 100%; height: 50vw;
  clip-path: polygon(27.9236% 233.08%, 6.01899e+06% 215.51%, 719117% 169.51%, -1498.98% 112.65%, 49.8548% 66.6504%, 63.2402% 49.08%, 91.614% 66.6504%, 700.404% 112.65%, 731446% 169.51%, -1.01183e+07% 215.51%, -3.1114e+07% 233.08%, -1.41569e+07% 215.51%, -704269% 169.51%, -2045.86% 112.65%, 50.2498% 66.6504%, 75.4137% 49.08%, 136.918% 66.6504%, -375.416% 112.65%, -741630% 169.51%, 1.28082e+07% 215.51%, 2.92777e+07% 233.08%, 3.47963e+06% 215.51%, 688727% 169.51%, -2806.63% 112.65%, 45.9922% 66.6504%, -24.6988% 49.08%, -107.845% 66.6504%, -1109.78% 112.65%, 749533% 169.51%, 1.52457e+06% 215.51%, 3.56429e+06% 233.08%, 1.18221e+07% 215.51%, -668566% 169.51%, -1906.3% 112.65%, 49.0295% 66.6504%, 32.7227% 49.08%, 2.69763% 66.6504%, -1878.76% 112.65%, -754791% 169.51%, -1.3831e+07% 215.51%, -3.26315e+07% 233.08%, -1.1412e+07% 215.51%, 647495% 169.51%, -1173.4% 112.65%, 49.0204% 66.6504%, 36.5017% 49.08%, 11.5576% 66.6504%, -2177.49% 112.65%, 758102% 169.51%, 7.75568e+06% 215.51%, 2.71416e+07% 233.08%, -4.16478e+06% 215.51%, -624399% 169.51%, -209.684% 112.65%, 48.447% 66.6504%, 32.0364% 49.08%, -3.42009% 66.6504%, -1992.34% 112.65%, -758690% 169.51%, 8.62725e+06% 215.51%, 7.09197e+06% 233.08%, 1.42067e+07% 215.51%, 599320% 169.51%, 764.321% 112.65%, 43.6528% 66.6504%, -30.7538% 49.08%, -318.358% 66.6504%, -408.325% 112.65%, 756293% 169.51%, -1.35441e+07% 215.51%, -3.38149e+07% 233.08%, -5.36741e+06% 215.51%, -572304% 169.51%, 1738.19% 112.65%, 54.1396% 66.6504%, 78.5679% 49.08%, 118.99% 66.6504%, -613.933% 112.65%, -753265% 169.51%, 460607% 215.51%, 2.47273e+07% 233.08%, -1.06053e+07% 215.51%, 543904% 169.51%, 2232.04% 112.65%, 52.2919% 66.6504%, 65.4779% 49.08%, 90.2093% 66.6504%, 429.684% 112.65%, 746991% 169.51%, 1.32353e+07% 215.51%);
  bottom: 0;
  z-index: 1;
}

.the_river {
  position: absolute;
  background: #51e2f5;
  width: 100%; height: 16.6vw;
  bottom: 0;
}

.copyrights-to-basecamp{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1vw;
  font-size: 1vw;
  z-index: 1;
  color: #FFFAF1;
}

.top_part_of_home {
  align-items: center;
  text-align: center;
}

.top_part_of_home h1{
  margin-top: 6vh;
  margin-bottom: 6vh;
  color: #FFFAF1;
  font-size: 6vh;
}

.top_part_of_home p{
  font-size: 3vh;
  color: #FFFAF1;
}

.top_part_of_home a{
  font-size: 3vh;
  color: #51e2f5;;
  text-decoration-color: #51e2f5;
}

.userNavHome {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.userNavHome p {
  margin: 0;
}

.column-homepage {
  /* inline-size: 500px; */
  overflow: hidden;
  padding: 0px;
  padding-top: 10vh !important;
  font-size: 20px;
  height: 100%;
  width: auto;
  flex: 33.3%;
  position: absolute;
}

.footer-home {
  background-color: #3a3b3c;
  color: white;
  height: fit-content;
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 100%;
  margin-top: 10vh;
}

.flexbox_for_news_homepage {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #212121;
}

.back-color-of-top-page {
  position: absolute;
  background-color: #3a3b3c;
  width: 100%; height: 100%;
  top: 0;
}

.content-over-top-page-background{
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 603px) {
  .input-group-interest{
    margin-left: 0;
    margin-right: 0;
  }
  
  .form_container-interest {
    margin-top: 2vh;
    display: contents;
  }

  .signUpBody{
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .button-search {
    display: none;
  }

  .fyp_search_bar {
    font-size: initial;
    padding-left: 2vh;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
  }
}

@media screen and (max-width: 912px) {
  .card {
    height: 65vh;
  }

  .shape {
    width: 100%; 
    height: 50vh;
  }

  .the_river {
    width: 100%; 
    height: 16.6vh;
  }
}

@media screen and (max-height: 750px) {
  .user_card_register {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
}

@media screen and (max-width: 450px) {
  .fyp_margin_in_nav .bcn_logo_and_text .nav_bcn_fyp{
    display: none;
  }

  .fyp_search_bar {
    font-size: initial;
    padding-left: 2px;
  }

  .open_sidebar_JS-CSS {
    width: 100%;
  }

  .sidebarHelper_padding_issue{
    padding-left: 0;
    padding-right: 0;
  }

  .information_box {
    border-top: none;
    width: 100%;
  }
  
  .change_username {
    border: none;
    width: 100%;
  }

  .settings_background {
    background-color: rgb(48, 48, 48);
  }
}

@media screen and (max-width: 360px) {
  .card{
    width: 84%;
  }
}

@media screen and (max-width: 280px) {
  .card{
    width: 62.5%;
  }
}

@media screen and (width: 912px) and (height: 1368px) {
  .card{
    padding: 0;
  }

  .apiImage {
    height: 15vh;
    width: 27vh;
  }

  .information_box {
    width: 35vh;
  }
  
  .change_username {
    width: 50vh;
  }
}

@media screen and (width: 820px) and (height: 1180px) {
  .card{
    padding: 0;
  }

  .apiImage {
    height: 15vh;
    width: 27vh;
  }

  .information_box {
    width: 40vh;
  }
  
  .change_username {
    width: 50vh;
  }
}

@media screen and (width: 768px) and (height: 1024px) {
  .information_box {
    width: 35vh;
  }
  
  .change_username {
    width: 50vh;
  }
}

@media screen and (width: 540px) and (height: 720px) {
  .information_box {
    width: 35vh;
  }
  
  .change_username {
    width: 50vh;
  }
}

/* //////////////////////////This is for sideways screens////////////////////////// */
@media screen and (orientation: landscape) {
  .shape {
    position: absolute;
    background: #212121;
    width: 100%; height: 50vw;
    clip-path: polygon(27.9236% 233.08%, 6.01899e+06% 215.51%, 719117% 169.51%, -1498.98% 112.65%, 49.8548% 66.6504%, 63.2402% 49.08%, 91.614% 66.6504%, 700.404% 112.65%, 731446% 169.51%, -1.01183e+07% 215.51%, -3.1114e+07% 233.08%, -1.41569e+07% 215.51%, -704269% 169.51%, -2045.86% 112.65%, 50.2498% 66.6504%, 75.4137% 49.08%, 136.918% 66.6504%, -375.416% 112.65%, -741630% 169.51%, 1.28082e+07% 215.51%, 2.92777e+07% 233.08%, 3.47963e+06% 215.51%, 688727% 169.51%, -2806.63% 112.65%, 45.9922% 66.6504%, -24.6988% 49.08%, -107.845% 66.6504%, -1109.78% 112.65%, 749533% 169.51%, 1.52457e+06% 215.51%, 3.56429e+06% 233.08%, 1.18221e+07% 215.51%, -668566% 169.51%, -1906.3% 112.65%, 49.0295% 66.6504%, 32.7227% 49.08%, 2.69763% 66.6504%, -1878.76% 112.65%, -754791% 169.51%, -1.3831e+07% 215.51%, -3.26315e+07% 233.08%, -1.1412e+07% 215.51%, 647495% 169.51%, -1173.4% 112.65%, 49.0204% 66.6504%, 36.5017% 49.08%, 11.5576% 66.6504%, -2177.49% 112.65%, 758102% 169.51%, 7.75568e+06% 215.51%, 2.71416e+07% 233.08%, -4.16478e+06% 215.51%, -624399% 169.51%, -209.684% 112.65%, 48.447% 66.6504%, 32.0364% 49.08%, -3.42009% 66.6504%, -1992.34% 112.65%, -758690% 169.51%, 8.62725e+06% 215.51%, 7.09197e+06% 233.08%, 1.42067e+07% 215.51%, 599320% 169.51%, 764.321% 112.65%, 43.6528% 66.6504%, -30.7538% 49.08%, -318.358% 66.6504%, -408.325% 112.65%, 756293% 169.51%, -1.35441e+07% 215.51%, -3.38149e+07% 233.08%, -5.36741e+06% 215.51%, -572304% 169.51%, 1738.19% 112.65%, 54.1396% 66.6504%, 78.5679% 49.08%, 118.99% 66.6504%, -613.933% 112.65%, -753265% 169.51%, 460607% 215.51%, 2.47273e+07% 233.08%, -1.06053e+07% 215.51%, 543904% 169.51%, 2232.04% 112.65%, 52.2919% 66.6504%, 65.4779% 49.08%, 90.2093% 66.6504%, 429.684% 112.65%, 746991% 169.51%, 1.32353e+07% 215.51%);
    bottom: 0;
    z-index: 1;
  }
  
  .the_river {
    position: absolute;
    background: #51e2f5;
    width: 100%; height: 16.6vw;
    bottom: 0;
  }
  
  .copyrights-to-basecamp{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1vw;
    font-size: 1vw;
    z-index: 1;
    color: #FFFAF1;
  }
  
  .top_part_of_home {
    align-items: center;
    text-align: center;
  }
  
  .top_part_of_home h1{
    color: #FFFAF1;
  }
  
  .top_part_of_home p{
    font-size: 3vh;
    color: #FFFAF1;
  }
  
  .top_part_of_home a{
    font-size: 3vh;
    color: #51e2f5;;
    text-decoration-color: #51e2f5;
  }
  
  .userNavHome {
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (max-width: 603px) {
    .input-group-interest{
      margin-left: 0;
      margin-right: 0;
    }
    
    .form_container-interest {
      margin-top: 2vh;
      display: contents;
    }
  
    .signUpBody{
      text-align: center;
      align-items: center;
      align-content: center;
      justify-content: center;
    }
  
    .button-search {
      display: none;
    }
  
    .fyp_search_bar {
      font-size: initial;
      padding-left: 2vh;
      border-top-right-radius: 1vh;
      border-bottom-right-radius: 1vh;
    }
  }
}
/* //////////////////////////end of sideways screen stuff////////////////////////// */