body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.nav_bar {
  position: fixed;
  border: black 2px solid;
  width: 1440px;
}

.margin_in_nav {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

html {
  padding: 0;
  margin: 0;
}

.bcn_img {
  height: 50px;
  width: auto;
}

.bcn_img2 {
  height: 50px;
  width: auto;
  padding: 0;
  /* border: 2px solid black; */
}

.column {
  flex: 33.3%;
}

.button-search {
  background-color: darkturquoise;
  color: darkturquoise;
  border-radius: 0.4em;
  margin-left: -20px;
  border-left: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0.4em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0.4em;
  height: 44px;
  margin-top: 3px;
}

.search_bar {
  width: 500px;
  margin-left: 75px;
  border-right: none;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  outline: none;
  height: 38px;
  margin-top: 3px;
}

.search_img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.user_card_login {
  width: 350px;
  margin-top: 180px;
  margin-left: 525px;
  margin-bottom: auto;
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.title-login {
  margin-left: 110px;
  color: black;
}

.input-group {
  border: 0;
  border-radius: 0.25rem 0 0 0.25rem;
  margin-left: 100px;
}

.form_container {
  margin-top: 0;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.login_btn {
  background: white;
  color: black;
  margin-bottom: 30px;
  margin-top: 30px;
  border: 1px solid #81d2ef;
  border-radius: 1em;
  width: 60px;
  padding: 5px;
  padding-left: 25px;
  margin-left: 120px;
}

.login_btn:focus {
  box-shadow: none;
  outline: 0px;
}

.login_btn:hover {
  background-color: #81d2ef;
  cursor: pointer;
  color: white;
}

.signInBody {
  margin: 0;
  background-color: white;
}

.signInText {
  color: black;
}

.register_btn {
  color: #01a7e4;
  text-decoration: none;
}

.register_btn:hover {
  color: black;
  text-decoration: underline;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #d4d4dc;
  border: 1px solid black;
  border-radius: 25px;
  height: 32em;
  width: fit-content;
  box-shadow: 10px 10px 5px black;
  transform: scale(0.8, 0.8);
}

a {
  color: black;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

.input-group {
  border: 0;
  border-radius: 0.25rem 0 0 0.25rem;
  margin-left: 100px;
}
