body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.nav_bar {
  position: sticky;
  top: 0;
  border: black 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 1440px;
  overflow: hidden;
  z-index: 1;
  background-color: white;
}

.margin_in_nav {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

html {
  padding: 0;
  margin: 0;
}

.bcn_img {
  height: 50px;
  width: auto;
}

.bcn_img2 {
  height: 60px;
  width: auto;
  padding: 0;
  margin-left: 35px;
  /* border: 2px solid black; */
}

.column {
  flex: 33.3%;
}

.button-search {
  background-color: darkturquoise;
  color: darkturquoise;
  border-radius: 0.4em;
  margin-left: -20px;
  border-left: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0.4em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0.4em;
  height: fit-content;
  padding-bottom: 2px;
  width: 60px;
}

.search_bar {
  width: 500px;
  margin-left: 120px;
  border-right: none;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  outline: none;
  height: fit-content;
  font-size: 18px;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 14.25px;
}

.search_img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.user_card_login {
  width: 350px;
  margin-top: 180px;
  margin-left: 525px;
  margin-bottom: auto;
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.title-login {
  margin-left: 105px;
  color: black;
}

.input-group {
  border: 0;
  border-radius: 0.25rem 0 0 0.25rem;
  margin-left: 100px;
}

.form_container {
  margin-top: 0;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.login_btn {
  background: white;
  color: black;
  margin-bottom: 30px;
  margin-top: 30px;
  border: 1px solid #81d2ef;
  border-radius: 1em;
  width: 25%;
  padding: 5px;
  margin-left: 125px;
}

.login_btn:focus {
  box-shadow: none;
  outline: 0px;
}

.login_btn:hover {
  background-color: #81d2ef;
  cursor: pointer;
  color: white;
}

.signInBody {
  margin: 0;
  background-color: white;
}

.signInText {
  color: black;
}

.register_btn {
  color: #01a7e4;
  text-decoration: none;
}

.register_btn:hover {
  color: black;
  text-decoration: underline;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  height: fit-content;
  width: fit-content;
  transform: scale(0.8, 0.8);
  padding: 50px;
  /* block-size: 10em; */
}
.card:hover {
  box-shadow: 10px 10px 5px gray;
  text-decoration: underline;
}

.aLink {
  color: black;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

.input-group {
  border: 0;
  border-radius: 0.25rem 0 0 0.25rem;
  margin-left: 100px;
}

.login_and_register {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 50px;
  gap: 20px;
  text-decoration: none;
}

.register {
  text-decoration: none;
}

.login {
  text-decoration: none;
}

.register:active {
  color: black;
}

.login:active {
  color: black;
}

.register:link {
  color: black;
}

.login:link {
  color: black;
}

.register:visited {
  color: black;
}

.login:visited {
  color: black;
}

.register:hover {
  color: #01a7e4;
}

.login:hover {
  color: #01a7e4;
}

.signup_btn {
  margin-left: 50px;
}

.news {
  overflow: hidden;
  padding: 0px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.column {
  inline-size: 500px;
  overflow: hidden;
  padding: 0px;
  font-size: 20px;
}

.apiImage {
  height: 10%;
  width: 10%;
}

.news_category {
  text-align: center;
}

/* .all_news {
} */

.entertainment_link:hover {
  color: hotpink;
  text-decoration: underline;
}

.covid_link:hover {
  color: #ec3a04;
  text-decoration: underline;
}

.lifestyle_link:hover {
  color: purple;
  text-decoration: underline;
}

.stocks_link:hover {
  color: rgb(34, 224, 34);
  text-decoration: underline;
}

.health_link:hover {
  color: orange;
  text-decoration: underline;
}

.food_link:hover {
  color: #01a7e4;
  text-decoration: underline;
}

.drink_link:hover {
  color: mediumaquamarine;
  text-decoration: underline;
}

.travel_link:hover {
  color: rgb(219, 219, 4);
  text-decoration: underline;
}

.ForYouNav {
  position: sticky;
  top: 4.7vw;
  border: black 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 1440px;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  font-stretch: expanded;
}

.ForYouNav a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 1.94vw;
  align-content: center;
}

.ForYouNav a:hover {
  text-decoration: underline;
}

.UserLocation {
  cursor: default;
}
