<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Error</title>
</head>
<body background="https://media.tenor.com/99sNtiQr5tYAAAAC/spongebob-meme.gif" style="background-size: cover; background-position: top; background-repeat: no-repeat; background-color: green;">
    <h1 style="text-align: center;">Oh my days...</h1>
    <a href="https://tenor.com/view/spongebob-meme-rut-everyday-sad-gif-16248849" style="color: white;">background image source code</a>
</body>
</html>