{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'bcca.png' %}" />
    <title>BCN | Base Camp News</title>
    <script src="{% static 'fyp.js' %}" defer></script>
  </head>
  <body id="main" class="home_background">
    <div class="top_part_of_home">
      <div class="back-color-of-top-page"></div>

      <div class="content-over-top-page-background">
        {% if username == "guest" %}
          <h1>Howdy Stranger!</h1>
        {% else %}
          <h1>Welcome back, {{username}}!</h1>
        {% endif %}
        <p>What would you like to do today?</p>

        <div class="userNavHome">
          {% if request.user.is_authenticated %}
            <p><a href="{% url 'foryou' %}">Search</a></p>
            <p><a href="{% url 'settings' %}">Settings</a></p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
          {% else %}
            <p><a href="{% url 'signin' %}">Log In</a></p>
            <p><a href="{% url 'signup' %}">Sign Up</a></p>
            <p><a href="https://basecampcodingacademy.org/about/" target="_blank">Learn about Base Camp</a></p>
          {% endif %}
        </div>
      </div>

      <div class="shape"></div>
      <div class="the_river"></div>
      <tag class="apology-from-dev" id="sorry-button">Our Apology</tag>
    </div>

    {% if request.user.is_authenticated %}
      <div class = "flexbox_for_news_homepage">
        <div class = "weather_cards" id = "wer_cads"></div>
        <div class="news" id="news">
          <div class="column-homepage" id="one"></div>
        </div>
      </div>
    {% endif %}

    {% comment %} please ignore the p tag bellow, this is a way to try to communicate with js without using a json file for it! {% endcomment %}
    <p id="ignore_me_1" style="display: none;">{{request.user.interest1}}</p>
    <p id="ignore_me_2" style="display: none;">{{request.user.interest2}}</p>
    <p id="ignore_me_3" style="display: none;">{{request.user.interest3}}</p>

  </body>
</html>
