{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'bcca.png' %}" />
    <title>BCN | Base Camp News</title>
  </head>
  <body>
    <nav class="nav_bar">
      <div class="margin_in_nav">
        <img src="{% static 'bcca.png' %}" class="bcn_img" />
        <p>BSN | Base Camp News</p>
        <input type="text" class="search_bar" />
        <button class="button-search" id="b">
          <img src="{% static 'magnifying.png' %}" class="search_img" />
        </button>
        <a href="{% url 'signin' %}">sign-in</a>
        <a href="{% url 'signup' %}">sign-up</a>
      </div>
    </nav>
    <script src="{% static 'main.js' %}" defer></script>
  </body>
</html>
