{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'bcca.png' %}" />
  </head>
  <body class="signUpBody">
    <div class="user_card_register">
      <div class="title-register">
        <img src="{% static 'bcca.png' %}" class="bcn_img3" />
        <h1 class="sign_in_title">Register</h1>
      </div>
        <div class="">
        <div class="form_container-register">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="input-group1">
                  <p>{{form.email.label}}</p>
                  {{form.email}}
                </div>
                <div class="input-group1">
                  <p>{{form.password1.label}}</p>
                  {{form.password1}}
                </div>
                <div class="input-group1">
                  <p>{{form.password2.label}}</p>
                  {{form.password2}}
                </div>
                <div class="form_container-interest">
                  <div class="input-group-interest">
                    <p>{{form.interest1.label}}</p>
                    {{form.interest1}}
                  </div>
                  <div class="input-group-interest">
                    <p>{{form.interest2.label}}</p>
                    {{form.interest2}}
                    <p></p>
                  </div>
                  <div class="input-group-interest">
                    <p>{{form.interest3.label}}</p>
                    {{form.interest3}}
                    <p></p>
                  </div>
                </div>
                <p class="signup_btn">Already Have An Account? <a href="{% url 'signin' %}" class="register_btn">Sign In</a></p>
                <div>
                  <input class="login_new_btn" type="submit" value="Create Account" />
                </div>
              </form>
        </div>

        {{form.errors}}
  
        {% for message in messages %}
        <p id="messages">{{message}}</p>
        {% endfor %}
      </div>
  </body>
</html>
