{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'bcca.png' %}" />
    <title>For You</title>
  </head>
  <body id="main" class="fyp_background">
    <nav class="fyp_nav_bar">
      <div class="fyp_margin_in_nav">
        <div class = "bcn_logo_and_text">
          <img src="{% static 'bcca.png' %}" class="bcn_img" />
          <p class="nav_bcn_fyp">BCN | Search</p>
        </div>
        <form action="https://google.com/search" target="_blank" class="fyp-searching-containers">
          <input type="text" class="fyp_search_bar" name="topics" placeholder="Search for topics..."/>
          <button class="button-search">
            <img src="{% static 'magnifying.png' %}" class="search_img" />
          </button>
        </form>
        <div id="mySidebar" class="fyp_sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >×</a
          >
          {% if request.user.is_authenticated %}
          <p>Hello, {{request.user.username}}</p>
          <a href="{% url 'logout' %}">Logout</a>
          <a href="{% url 'settings' %}">Settings</a>
          {% else %}
          <div class="login_and_register">
            <a href="{% url 'signin' %}" class="login">Login</a>
            <a href="{% url 'signup' %}" class="register">Register</a>
          </div>
          {% endif %}
          <div class="location_info">
            <p id="city"></p>
            <p id="temp"></p>
          </div>
        </div>
        <button class="openbtn" onclick="openNav()">☰</button>
      </div>
    </nav>

    {% comment %} <div class="fyp_ForYouNav">
      <a href="{% url 'covid' %}" class="covid_link">Covid-19</a>
      <a href="{% url 'weather' %}">Weather</a>
      <a href="{% url 'trending' %}">Trending</a>
      <a href="{% url 'entertain' %}" class="entertainment_link"
        >Entertainment</a
      >
      <a href="{% url 'livestyle' %}" class="lifestyle_link">Lifestyle</a>
      <a href="{% url 'shopping' %}">Shopping</a>
      <a href="{% url 'health' %}" class="health_link">Health</a>
      <a href="{% url 'stocks' %}" class="stocks_link">Stocks</a>
      <a href="{% url 'sport' %}">Sports</a>
    </div> {% endcomment %}
    <div class="news" id="news">
      <div class="column" id="one"></div>
    </div>
    <script src="{% static 'fyp.js' %}" defer></script>
    <footer class="footer">
      <div class="flexbox">
        <div class="column">
          <div class="contact_button_border">
            <a href="mailto:seanennis@basecampcodingacademy.org" class="contact_button">Contact Us</a>
          </div>
        </div>
        <div class="column">
          <div class="footer_list">
            <ul>
              <li><a href="#news">News</a></li>
              <li>
                <a href="https://basecampcodingacademy.org/about/" target="_blank"
                  >About Us</a
                >
              </li>
              {% if request.user.is_authenticated %}
              <li><a href="{% url 'foryou' %}">Home</a></li>
              {% else %}
              <li><a href="{% url 'signup' %}">Sign Up</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="column">
          <div>
            <ul class="social_list">
              <li>
                <a href="https://twitter.com/basecampcoding" target="_blank">
                  <img
                    src="{% static 'twitter_logo.png' %}"
                    class="twitter_img"
                  />
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/company/basecampcodingacademy/"
                  target="_blank"
                >
                  <img
                    src="{% static 'linkedin_logo.png' %}"
                    class="linkedin_img"
                  />
                </a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/basecampcoding/"
                  target="_blank"
                >
                  <img
                    src="{% static 'instagram_logo.png' %}"
                    class="instagram_img"
                  />
                </a>
              </li>
              <li>
                <a
                  href="https://www.facebook.com/basecampcodingacademy"
                  target="_blank"
                >
                  <img
                    src="{% static 'facebook_logo.png' %}"
                    class="facebook_img"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
